<div class="jumbotron">
  <h1>¡Subscribe and win a prize!</h1>
  <h2>Welcome to prizes store, here you can win amazing prizes only with a subscription.</h2>

  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.submit "Subscribe", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>