<%= flash[:info] %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <strong>Congratulations</strong><%= flash[:success] %>
  </div>
<% end %>
<% if flash[:danger] %>
  <div class="alert alert-warning">
    <strong>Sorry</strong><%= flash[:danger] %>
  </div>
<% end %>